<footer>
    <section class="footerContainer">
        <div class="sectionFooter1">
            <div class="logoContainerFooter">
                <a href="/"><img class="logoFooter" src="../img/icons/logo_light.png" alt="Logo"></a>
            </div>
            <p>Puedes comunicarte mediante:</p>
            <div class="iconsSocialMediaFooter">
                <i class="fab fa-facebook-square facebookIcon"></i>
                <i class="far fa-envelope gmailIcon"></i>
                <i class="fab fa-linkedin linkedInIcon"></i>
            </div>
        </div>
        <div class="sectionFooter2">
            <h3>Sobre Nosotros:</h3>
            <p class="quienesSomosTexto">Somos un equipo de alumnos de <a href="https://www.digitalhouse.com/ar"
                    target="_blank">Digital<span>House</span></a> que nos unimos y complementamos para llevar a cabo y
                darle vida a esta página web que armamos y realizamos con tanto esfuerzo. Dicho equipo está compuesto
                por:</p>
            <div class="nombreIntegrantesContainer">
                <p class="nombreIntegranteFooter"><a href="https://github.com/fedehonrado" target="_blank">Fede</a></p>
                <p class="nombreIntegranteFooter"><a href="#" target="_blank">Flor</a></p>
                <p class="nombreIntegranteFooter"><a href="https://github.com/Franco-Ezequiel-Marchegiani"
                        target="_blank">Franco</a></p>
                <p class="nombreIntegranteFooter"><a href="https://github.com/MartinZazpe" target="_blank">Martín</a>
                </p>
            </div>

        </div>
    </section>
</footer>