<header>
    <div class="logoContainer">
        <a href="/"><img src="../img/icons/logo_light.png" alt="Logo"></a>
    </div>
    <div>
        <nav class="navBar">
            <ul class="linksCategories">
                <li><a href="productos">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="crearProducto">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="linksUser">
                <li><a href="login">Iniciar sesión</a></li>
                <li><a href="register">Registrarse</a></li>
                <li><a href="productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="iconBurger">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class='nav'>
        <ul>
            <li><a href='#'></a>Deportes</li>
            <li><a href='#'></a>Marcas</li>
            <li><a href='#'></a>Mujer</li>
            <li><a href='#'></a>Hombre</li>
            <li><a href='#'></a>Niño</li>
            <li><a href='#'></a>Ofertas</li>

        </ul>
    </div>
</header>