.searchProducts-priceProduct {
  font-size: 20px;
  color: #1bc01b;
  font-weight: bolder;
  text-align: left;
}
.searchProducts-discountProduct {
  font-size: 20px;
  color: #dc143ce3;
  text-align: left;
}
