<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-sm.css">
    <link rel="stylesheet" href="../css/style-md.css">
    <link rel="stylesheet" href="../css/style-lg.css">
</head>
<body>
    <header>
        <div class="logoContainer">
            <img src="../img/icons/logo_light.png" alt="Logo">
        </div>
        <div>
            <nav class="navBar">
                <ul class="linksCategories">
                    <li><a href="#">Categoría 1</a></li>
                    <li><a href="#">Categoría 2</a></li>
                    <li><a href="#">Categoría 3</a></li>
                    <li><a href="#">Categoría 4</a></li>
                </ul>
                <ul class="linksUser">
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div class="iconBurger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Carousel / Banner -->
    <section>

    </section>
    <!-- Iconos patrocinadores -->
    <section>

    </section>
    <!-- Productos -->
    <main>
        <h1 class="title">Productos Más vendidos</h1>
        <section class="productContainer">
            <article class="product">
                <img class="imageProduct" src="../img/products/barcelona-nike.jpg" alt="imagenProducto">
                <div class="detailContainer">
                    <p class="titleProduct">Camiseta Barcelona Nike Tercer Recambio Stadium Verde</p>
                    <p class="descriptionProduct">La camiseta de fútbol para hombre 3° Recambio Stadium del FC Barcelona 2019/20 está confeccionada con tela transpirable Dri-Fit que absorbe el sudor y te mantiene fresco, seco y cómodo tanto dentro como fuera de la cancha.
                    El ajuste estándar hace que la prenda se adapte al cuerpo y ofrezca más espacio para mayor movilidad</p>
                    <p class="sku_product">SKU 55938919277</p>
                    <p class="priceProduct">$8.199</p>
                    <div class="btnContainer">
                        <button class="btn-buy">Ver Producto</button>
                        <button class="btn-cart">Añadir a Carrito</button>
                    </div>
                </div>
            </article>
            <article class="product">
                <img class="imageProduct" src="../img/products/buzo-negro.jpg" alt="imagenProducto">
                <div class="detailContainer">
                    <p class="titleProduct">Buzo Con Capucha 361° Urban Negro</p>
                    <p class="descriptionProduct">
                        Disfrutá del día a día con el buzo 361°, confeccionado con un corte suelto que te brindará la comodidad que merecés.
                        Capucha con cordón de ajuste visible.
                        Bolsillo canguro.
                        Cintura y puños elásticos.
                    </p>
                    <p class="sku_product">SKU 47856617527820</p>
                    <p class="priceProduct">$7.589</p>
                    <div class="btnContainer">
                        <button class="btn-buy">Ver Producto</button>
                        <button class="btn-cart">Añadir a Carrito</button>
                    </div>
                </div>
            </article>
            <article class="product">
                <img class="imageProduct" src="../img/products/camisa-argentina-messi.jpg" alt="imagenProducto">
                <div class="detailContainer">
                    <p class="titleProduct">Camiseta de Argentina Adidas Alternativa Messi 10 niño Petroleo</p>
                    <p class="descriptionProduct">
                        Su diseño es un emblema pintado en tonos azules que reflejan el esplendor de los glaciares del país. 
                        Está confeccionada con tecnologia Aeroready que mantiene tu cuerpo fresco y seco.
                        El escudo aplicado de la Selección le demuestra a todos lo que sentís por el equipo.
                    </p>
                    <p class="sku_product">SKU 177469502057</p>
                    <p class="priceProduct">$7.999</p>
                    <div class="btnContainer">
                        <button class="btn-buy">Ver Producto</button>
                        <button class="btn-cart">Añadir a Carrito</button>
                    </div>
                </div>
            </article>
            <article class="product">
                <img class="imageProduct" src="../img/products/remera-puma-entrenamiento.jpg" alt="imagenProducto">
                <div class="detailContainer">
                    <p class="titleProduct">Remera Puma Entrenamiento RTG Azul</p>
                    <p class="descriptionProduct">
                        Ya sea que salgas a la calle o vayas al gimnasio, esta remera clásica te mantendrá seco y cómodo con nuestra tecnología dryCELL que absorbe la humedad y mangas raglán cortas.
                        El estampado del logo de PUMA Cat le da un toque característico a esta prenda ajustada.
                    </p>
                    <p class="sku_product">SKU 449217699478</p>
                    <p class="priceProduct">$3.299</p>
                    <div class="btnContainer">
                        <button class="btn-buy">Ver Producto</button>
                        <button class="btn-cart">Añadir a Carrito</button>
                    </div>
                </div>
            </article>
            <article class="product">
                <img class="imageProduct" src="../img/products/zapatillas-running-topper.jpg" alt="imagenProducto">
                <div class="detailContainer">
                    <p class="titleProduct">Zapatillas Running Topper Boro 2 Azul</p>
                    <p class="descriptionProduct">
                        Segunda generación de este calzado, un concepto cerrado y reforzado ideal para uso diario.
                        Posee lengua textil que brinda mayor respirabilidad.
                        Su capellada en cuero sintético con perforaciones tiene un refuerzo en talón para mayor estabilidad.</p>
                    <p class="sku_product">SKU 1244014578</p>
                    <p class="priceProduct">$5.799</p>
                    <div class="btnContainer">
                        <button class="btn-buy">Ver Producto</button>
                        <button class="btn-cart">Añadir a Carrito</button>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!-- Seccion imagenes con Categorias -->
    <section class="containCategoriesGlobal">
        <h2 class="subTitle">Conoce nuestras Categorías y sus productos</h2>
        <div class="containCategories">
            <img src="../img/portadas/football.jpg" alt="Categoría Futbol">
            <img src="../img/portadas/quemados.jpg" alt="Categoría Quemados">
            <img src="../img/portadas/running.jpg" alt="Categoría Running">
            <img src="../img/portadas/tenis.jpg" alt="Categoría Tenis">
        </div>
    </section>
    <footer>
        <section class="footerContainer">
            <div class="sectionFooter1">
                <div class="logoContainerFooter">
                    <img class="logoFooter" src="../img/icons/logo_light.png" alt="Logo">
                </div>
                <p>Puedes comunicarte mediante:</p>
                <div class="iconsSocialMediaFooter">
                    <i class="fab fa-facebook-square facebookIcon"></i>
                    <i class="far fa-envelope gmailIcon"></i>
                    <i class="fab fa-linkedin linkedInIcon"></i>
                </div>
            </div>
            <div class="sectionFooter2">
                <h3>Sobre Nosotros:</h3>
                <p class="quienesSomosTexto">Somos un equipo de alumnos de <a href="https://www.digitalhouse.com/ar" target="_blank">Digital<span>House</span></a> que nos unimos y complementamos para llevar a cabo y darle vida a esta página web que armamos y realizamos con tanto esfuerzo. Dicho equipo está compuesto por:</p>
                <div class="nombreIntegrantesContainer">
                    <p class="nombreIntegranteFooter"><a href="https://github.com/fedehonrado" target="_blank">Fede</a></p>
                    <p class="nombreIntegranteFooter"><a href="#" target="_blank">Flor</a></p>
                    <p class="nombreIntegranteFooter"><a href="https://github.com/Franco-Ezequiel-Marchegiani" target="_blank">Franco</a></p>
                    <p class="nombreIntegranteFooter"><a href="https://github.com/MartinZazpe" target="_blank">Martín</a></p>
                </div>
                
            </div>
            <div class="sectionFooter3">
                <h3>Información:</h3>
                <div class="containerSection3">
                    <p><a href="#">Medios de Pago</a></p>
                    <p><a href="#">Preguntas Frecuentes</a></p>
                    <p><a href="#">Cómo comprar</a></p>
                    <p><a href="#">Políticas de privacidad</a></p>
                </div>
            </div>
            <div class="sectionFooter4">
                <h3>Ayuda:</h3>
                <button>Cambios/Devoluciones</button>
                <button>Me arrepentí</button>
            </div>
        </section>
        <div class="copyright">
            <hr>
            <h4>Copyright</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perferendis repellendus soluta doloribus laborum harum quidem, reprehenderit dolorum consectetur expedita?</p>
        </div>
    </footer>
</body>
</html>