<!-- Notes:  El resize de el login  debe mejorar a los 768px IMPORTANTE MEJORAR RESIZE  -->
<!-- Notes:  Opción para poder ver la contraseña-->
<!-- Notes:  Una vez registrado, debe llevarnos al home-->
<!-- Cambios no pusheados: hice que el logo en mis areas se expanda y achique mas sútilmente, como lo hizo Ezequiel-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <script
            src="https://kit.fontawesome.com/d3503ff7e5.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/theme-lr.css" />
        <link rel="stylesheet" href="/css/utils-lr.css" />
        <link rel="stylesheet" href="/css/styles-lr.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="../css/styles-login.css" />
        <link
            rel="stylesheet"
            href="/css/styles-login-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-login-lg.css"
            media="(min-width:992px)"
        />
        <link rel="stylesheet" href="../css/styleHome.css" />
        <link rel="stylesheet" href="../css/styleHome-sm.css" />
        <link rel="stylesheet" href="../css/styleHome-md.css" />
        <link rel="stylesheet" href="../css/styleHome-lg.css" />
    </head>

    <body class="no-margin flex-wrap background-img">
        <%- include('./partials/header') %>

        <main class="backgroundImg">
            <div class="blueTransBg flexWrap justifyCenter containerForm">
                <!-- begins form -->
                <div class="headerRegisterForm">
                    <!-- form header -->
                    <h1 class="textRegisterRegister fontSize5vw whiteText">
                        Ingresa a tu cuenta
                    </h1>
                <form
                    action="./login"
                    method="POST"
                    class="
                        form
                        centerText
                        padTop10
                        flexWrap
                        flexColumn
                        centerText
                    "
                >
                    <!-- begins form inputs -->
                    <fieldset>
                        <div class="paddingBot8 nombreLogin">
                            <label for="email"> E-mail</label>
                            <br />
                            <input type="email" id="email" name="email" />
                            <% if (locals.errors && errors.email) { %>
                            <div class="errorMessage">
                                <p><%= errors.email.msg %></p>
                            </div>
                            <% } %>
                        </div>
                        <div class="paddingBot8 contraseñaLogin">
                            <label for="password"> Contraseña</label>
                            <br />
                            <input
                                type="password"
                                id="password"
                                name="password"
                            />
                        </div>
                        <div class="termsConditions" style='align-items: flex-start;'>
                            <div>
                            <label  for="rememberMe">
                                Recuerdame</label
                            >
                            </div>
                            <div>
                            <input
                                class="recuerdameCheckbox"
                                type="checkbox"
                                id="rememberMe"
                                name="rememberMe"
                            />
                            </div>
                        </div>
                        <div class="paddingBot20 botonIngresar">
                            <button class="buttonRegister" type="submit">
                                Ingresar
                            </button>
                        </div>
                        <div class="olv0ideContraseñaText margnBot1">
                            <label>Olvide mi contraseña</label>
                        </div>
                        <div
                            class="
                                paddingBot8
                                centerText
                                whiteText
                                paddingTop4
                                sinUsuarioLogin
                            "
                        >
                            <label
                                >¿Aún no tienes un usuario?<a
                                    class="aLinks"
                                    href="/register"
                                >
                                    Crea uno!
                                </a></label
                            >
                        </div>
                    </fieldset>
                </form>
            </div>
            </div>
        </main>

        <%- include('./partials/footer') %>
    </body>
</html>
