<!DOCTYPE html>
<html lang="en">
    <head>
    
        <%- include('./partials/head') %>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Georama&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="../css/styleHome.css">
        <link rel="stylesheet" href="/css/productCart.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../css/style-sm-pc.css" />
    <link rel="stylesheet" href="../css/style-md-pc.css" />
    <link rel="stylesheet" href="../css/style-lg-pc.css" />
        <link rel="stylesheet" href="../css/styleHome-sm.css">
        <link rel="stylesheet" href="../css/styleHome-md.css">
        <link rel="stylesheet" href="../css/styleHome-lg.css">       
       
    </head>
    <body>
        <%- include('./partials/header') %>
        <main id="mainContentPC">
            <h1 class="textTitlePC grayTextPC textCenterPC">
                Carrito de compras
            </h1>
            <div class="flexPC justifySpaceBetweenPC">
            <section class="width100PC width60MdPC">
                <h2
                    class="
                        textSecondTitlePC
                        lightgreenBackgroundPC
                        whiteTextPC
                        padding3-15PC
                    "
                >
                    Producto(s)
                </h2>
                <div class="flexPC marginTop15PC">
                <article class="containerProductPC flexPC">
                    <div class="containerWrapperPC">
                        <form action="" method="">
                            <button class="fas fa-times cancelIconPC" type="reset"></button>
                        </form>                        
                    <div class="imageBorderPC width25MdPC">
                        <img
                        class="containerImagePC width100PC"
                        src="../img/products/barcelona-nike.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="containerContentPC">
                        <p class="textProductPC">
                                     Camiseta Barcelona Nike 3Recambio
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Talle M
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Color : Verde
                        </p>
                        <div class="padding8PC">
                        <form action="" method="">
                            <label class="textCharacteristicsPC">Cantidad  : </label>
                            <select name="Cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>                            
                          </select>
                        </form>
                    </div>
                        <p
                            class="
                                textPricePC
                                lightgreenTextPC
                                padding8PC                                                                                            
                            "
                        >
                            $8.199
                        </p>                        
                    </div>
                    </div>
                </article>
                <article class="containerProductPC flexPC">
                    <div class="containerWrapperPC">
                        <form action="" method="">
                            <button class="fas fa-times cancelIconPC" type="reset"></button>
                        </form>
                    <div class="imageBorderPC width25MdPC">
                        <img
                        class="containerImagePC width100PC"
                        src="../img/products/buzo-negro.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="containerContentPC">
                        <p class="textProductPC">
                            Buzo Con Capucha 361° Urban Negro
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Talle M
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Color : Negro
                        </p>
                        <div class="padding8PC">
                            <form action="" method="">
                                <label class="textCharacteristicsPC">Cantidad  : </label>
                                <select name="Cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>                            
                              </select>
                            </form>
                        </div>
                        <p
                            class="
                            textPricePC
                            lightgreenTextPC
                            padding8PC                                                               
                            "
                        >
                        $7.589
                        </p>                        
                    </div>
                    </div>
                </article>                           
            </section>

            <!-- Resumen -->
            <section class="width100PC width35MdPC">
                <h2
                    class="
                        textSecondTitlePC
                        lightgreenBackgroundPC
                        whiteTextPC
                        padding3-15PC
                    "
                >
                    Resumen
                </h2>
                <div class="padding3-15PC containerSingleProductPC marginTop5PC">
                    <div class="margin20PC">
                    <p class="textSubtotalPC padding8PC">Subtotal:</p>
                    <p class="textShippingPC padding8PC">Costo de envío:</p>
                    <form action="" method="">
                                                <input id="codePC" type="text" name="codePC" placeholder="Código promocional">
                                                
                    </form> 
                    </div>               
                    <h3 class="textTotalPC padding8PC">Total:</h3>                
                </div>
                <form action="" method="">
                    <button type="submit" a href="#" class="buyButtonPC">COMPRAR</button>                    
                </form>                
            </section>
        </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>
