<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <title>Carrito de compras</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Georama&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/productCart.css" />
        
        <script
            src="https://kit.fontawesome.com/5b55db70fb.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../css/style-sm-pc.css" />
    <link rel="stylesheet" href="../css/style-md-pc.css" />
    <link rel="stylesheet" href="../css/style-lg-pc.css" />
    </head>
    <body>
        <header class="blue-background-pc padding-15-pc">
            <div class="logoContainer-pc">
            <div class="flex-pc justify-center-pc align-center-pc">
                <img
                    id="logo"
                    src="../img/icons/logo_light.png"
                    alt="Logo AllSports"
                    class="width-40-pc width-35-sm-pc width-25-sm-pc"                  
                />                    
                <form class="padding-8 width-50 width-33-sm search-display-pc">
                    <div class="flex-pc no-wrap-pc searcher-pc width-100-pc">
                        <input
                            type="text"
                            placeholder="Buscar"
                            class="flex-grow-pc width-100-pc"
                        />
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>   
            <div class="navbar-display-pc ">
                <nav id="main-nav-pc" class="flex-pc justify-space-between-pc">
                    <ul class="flex-pc">
                        <li class="padding-8-pc margin-15-pc"><a href="#">Mujeres</a></li>
                        <li class="padding-8-pc margin-15-pc"><a href="#">Hombres</a></li>
                        <li class="padding-8-pc margin-15-pc"><a href="#">Actividad</a></li>
                        <li class="padding-8-pc margin-15-pc"><a href="#">Marca</a></li>
                    </ul>
                    <ul class="flex-pc margin-sides-pc">
                        <li class="padding-8-pc margin-15-pc"><a href="#">Iniciar sesión<i class="fas fa-sign-in-alt"></i
                            ></a></li>
                        <li class="padding-8-pc margin-15-pc"><a href="#">Registrarse<i class="far fa-id-card"></i
                            ></a></li>
                        <li class="padding-8-pc margin-15-pc">
                            <a href="/productCart">Carrito<i class="fas fa-shopping-cart"></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="flex-pc margin-neg-20-pc justify-space-between-pc">    
            <div class="iconBurger-pc lightblue-background-pc">
                    <i class="fas fa-bars white-text-pc"></i>
                </div>
                <div class="searchbar-pc lightblue-background-pc">
                    <i class="fas fa-search white-text-pc"></i>
                </div>  
            </div>  
            </div>                  
        </header>
        <main id="main-content-pc">
            <h1 class="text-title-pc gray-text-pc text-center-pc">
                Carrito de compras
            </h1>
            <div class="flex-pc justify-space-between-pc">
            <section class="width-100-pc width-60-sm-pc">
                <h2
                    class="
                        text-second-title-pc
                        lightgreen-background-pc
                        white-text-pc
                        padding-3-15-pc
                    "
                >
                    Producto(s)
                </h2>
                <div class="flex-pc margin-top-15-pc">
                <article class="container-product-pc flex-pc">
                    <div class="container-wrapper-pc">
                        <form action="" method="">
                            <button class="fas fa-times cancel-icon-pc" type="reset"></button>
                        </form>                        
                    <div class="image-border-pc width-25-sm-pc ">
                        <img
                        class="container-image-pc width-100-pc"
                        src="../img/products/barcelona-nike.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="container-content-pc">
                        <p class="text-product-pc">
                                     Camiseta Barcelona Nike 3Recambio
                        </p>
                        <p class="text-characteristics-pc padding-8-pc">
                            Talle M
                        </p>
                        <p class="text-characteristics-pc padding-8-pc">
                            Color : Verde
                        </p>
                        <div class="padding-8-pc">
                        <form action="" method="">
                            <label class="text-characteristics-pc ">Cantidad  : </label>
                            <select name="Cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>                            
                          </select>
                        </form>
                    </div>
                        <p
                            class="
                                text-price-pc
                                lightgreen-text-pc
                                padding-8-pc                                                                                            
                            "
                        >
                            $8.199
                        </p>                        
                    </div>
                    </div>
                </article>
                <article class="container-product-pc flex-pc ">
                    <div class="container-wrapper-pc">
                        <form action="" method="">
                            <button class="fas fa-times cancel-icon-pc" type="reset"></button>
                        </form>
                    <div class="image-border-pc width-25-sm-pc ">
                        <img
                        class="container-image-pc width-100-pc"
                        src="../img/products/buzo-negro.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="container-content-pc">
                        <p class="text-product-pc">
                            Buzo Con Capucha 361° Urban Negro
                        </p>
                        <p class="text-characteristics-pc padding-8-pc">
                            Talle M
                        </p>
                        <p class="text-characteristics-pc padding-8-pc">
                            Color : Negro
                        </p>
                        <div class="padding-8-pc">
                            <form action="" method="">
                                <label class="text-characteristics-pc ">Cantidad  : </label>
                                <select name="Cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>                            
                              </select>
                            </form>
                        </div>
                        <p
                            class="
                                text-price-pc
                                lightgreen-text-pc
                                padding-8-pc                                                               
                            "
                        >
                        $7.589
                        </p>                        
                    </div>
                    </div>
                </article>                           
            </section>

            <!-- Resumen -->
            <section class="width-100-pc width-35-md-pc">
                <h2
                    class="
                        text-second-title-pc
                        lightgreen-background-pc
                        white-text-pc
                        padding-3-15-pc
                    "
                >
                    Resumen
                </h2>
                <div class="padding-3-15-pc container-single-product-pc margin-top-5-pc">
                    <div class="margin-20-pc">
                    <p class="text-subtotal-pc padding-8-pc">Subtotal:</p>
                    <p class="text-shipping-pc padding-8-pc">Costo de envío:</p>
                    <form action="" method="">
                                                <input id="code-pc" type="text" name="code-pc" placeholder="Código promocional">
                                                
                    </form> 
                    </div>               
                    <h3 class="text-total-pc padding-8-pc ">Total:</h3>                
                </div>
                <form action="" method="">
                    <button type="submit" a href="#" class="buy-button-pc">COMPRAR</button>                    
                </form>                
            </section>
        </div>
        </main>
        <footer class="blue-background-pc">
            <section class="footerContainer-pc">
                <article class="sectionFooter3-pc">
                    <h3 class="white-text-pc text-footer-pc margin-top-25-pc">Información:</h3>
                    <div class="containerSection3-pc">
                      <p><a href="#" class="white-text-pc padding-8-pc">Medios de Pago</a></p>
                      <p><a href="#" class="white-text-pc padding-8-pc">Preguntas Frecuentes</a></p>
                      <p><a href="#" class="white-text-pc padding-8-pc">Cómo comprar</a></p>
                      <p><a href="#" class="white-text-pc padding-8-pc">Políticas de privacidad</a></p>
                    </div>
                    </article>
                <article class="sectionFooter4-pc">
                    <h3 class="white-text-pc text-footer-pc">Ayuda:</h3>
                    <button class="lightblue-background-pc">Cambios y Devoluciones</button>
                    <button class="lightblue-background-pc">Me arrepentí</button>
                  </article>            
              </section>                         
              <h4  class="copyright-pc">©Copyright 2021. All4Sports S.A</h4>            
          </footer>
    </body>
</html>
