<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <title>Carrito de compras</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Georama&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/productCart.css" />
        <link rel="stylesheet" href="../css/style.css" />
        
        <script
            src="https://kit.fontawesome.com/5b55db70fb.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../css/style-sm-pc.css" />
    <link rel="stylesheet" href="../css/style-md-pc.css" />
    <link rel="stylesheet" href="../css/style-lg-pc.css" />    
    <link rel="stylesheet" href="../css/style-sm.css" />
    <link rel="stylesheet" href="../css/style-md.css" />
    <link rel="stylesheet" href="../css/style-lg.css" />
    </head>
    <body>
        <header>
            <div class="logoContainer">
                <a href="/index"
                    ><img src="../img/icons/logo_light.png" alt="Logo"
                /></a>
            </div>
            <div>
                <nav class="navBar">
                    <ul class="linksCategories">
                        <li><a href="#">Categoría 1</a></li>
                        <li><a href="#">Categoría 2</a></li>
                        <li><a href="#">Categoría 3</a></li>
                        <li><a href="#">Categoría 4</a></li>
                    </ul>
                    <ul class="linksUser">
                        <li><a href="/login">Iniciar sesión</a></li>
                        <li><a href="/register">Registrarse</a></li>
                        <li>
                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </nav>
                <div class="iconBurger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <main id="mainContentPC">
            <h1 class="textTitlePC grayTextPC textCenterPC">
                Carrito de compras
            </h1>
            <div class="flexPC justifySpaceBetweenPC">
            <section class="width100PC width60MdPC">
                <h2
                    class="
                        textSecondTitlePC
                        lightgreenBackgroundPC
                        whiteTextPC
                        padding3-15PC
                    "
                >
                    Producto(s)
                </h2>
                <div class="flexPC marginTop15PC">
                <article class="containerProductPC flexPC">
                    <div class="containerWrapperPC">
                        <form action="" method="">
                            <button class="fas fa-times cancelIconPC" type="reset"></button>
                        </form>                        
                    <div class="imageBorderPC width25MdPC">
                        <img
                        class="containerImagePC width100PC"
                        src="../img/products/barcelona-nike.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="containerContentPC">
                        <p class="textProductPC">
                                     Camiseta Barcelona Nike 3Recambio
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Talle M
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Color : Verde
                        </p>
                        <div class="padding8PC">
                        <form action="" method="">
                            <label class="textCharacteristicsPC">Cantidad  : </label>
                            <select name="Cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>                            
                          </select>
                        </form>
                    </div>
                        <p
                            class="
                                textPricePC
                                lightgreenTextPC
                                padding8PC                                                                                            
                            "
                        >
                            $8.199
                        </p>                        
                    </div>
                    </div>
                </article>
                <article class="containerProductPC flexPC">
                    <div class="containerWrapperPC">
                        <form action="" method="">
                            <button class="fas fa-times cancelIconPC" type="reset"></button>
                        </form>
                    <div class="imageBorderPC width25MdPC">
                        <img
                        class="containerImagePC width100PC"
                        src="../img/products/buzo-negro.jpg"
                        alt="imagenProducto"
                    
                    />
                </div>
                    <div class="containerContentPC">
                        <p class="textProductPC">
                            Buzo Con Capucha 361° Urban Negro
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Talle M
                        </p>
                        <p class="textCharacteristicsPC padding8PC">
                            Color : Negro
                        </p>
                        <div class="padding8PC">
                            <form action="" method="">
                                <label class="textCharacteristicsPC">Cantidad  : </label>
                                <select name="Cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>                            
                              </select>
                            </form>
                        </div>
                        <p
                            class="
                            textPricePC
                            lightgreenTextPC
                            padding8PC                                                               
                            "
                        >
                        $7.589
                        </p>                        
                    </div>
                    </div>
                </article>                           
            </section>

            <!-- Resumen -->
            <section class="width100PC width35MdPC">
                <h2
                    class="
                        textSecondTitlePC
                        lightgreenBackgroundPC
                        whiteTextPC
                        padding3-15PC
                    "
                >
                    Resumen
                </h2>
                <div class="padding3-15PC containerSingleProductPC marginTop5PC">
                    <div class="margin20PC">
                    <p class="textSubtotalPC padding8PC">Subtotal:</p>
                    <p class="textShippingPC padding8PC">Costo de envío:</p>
                    <form action="" method="">
                                                <input id="codePC" type="text" name="codePC" placeholder="Código promocional">
                                                
                    </form> 
                    </div>               
                    <h3 class="textTotalPC padding8PC">Total:</h3>                
                </div>
                <form action="" method="">
                    <button type="submit" a href="#" class="buyButtonPC">COMPRAR</button>                    
                </form>                
            </section>
        </div>
        </main>
        <footer>
            <section class="footerContainer">
                <div class="sectionFooter1">
                    <div class="logoContainerFooter">
                        <a href="/index"
                            ><img
                                class="logoFooter"
                                src="../img/icons/logo_light.png"
                                alt="Logo"
                        /></a>
                    </div>
                    <p>Puedes comunicarte mediante:</p>
                    <div class="iconsSocialMediaFooter">
                        <i class="fab fa-facebook-square facebookIcon"></i>
                        <i class="far fa-envelope gmailIcon"></i>
                        <i class="fab fa-linkedin linkedInIcon"></i>
                    </div>
                </div>
                <div class="sectionFooter2">
                    <h3>Sobre Nosotros:</h3>
                    <p class="quienesSomosTexto">
                        Somos un equipo de alumnos de
                        <a
                            href="https://www.digitalhouse.com/ar"
                            target="_blank"
                            >Digital<span>House</span></a
                        >
                        que nos unimos y complementamos para llevar a cabo y
                        darle vida a esta página web que armamos y realizamos
                        con tanto esfuerzo. Dicho equipo está compuesto por:
                    </p>
                    <div class="nombreIntegrantesContainer">
                        <p class="nombreIntegranteFooter">
                            <a
                                href="https://github.com/fedehonrado"
                                target="_blank"
                                >Fede</a
                            >
                        </p>
                        <p class="nombreIntegranteFooter">
                            <a
                                href="https://github.com/Florencia-Zapata"
                                target="_blank"
                                >Flor</a
                            >
                        </p>
                        <p class="nombreIntegranteFooter">
                            <a
                                href="https://github.com/Franco-Ezequiel-Marchegiani"
                                target="_blank"
                                >Franco</a
                            >
                        </p>
                        <p class="nombreIntegranteFooter">
                            <a
                                href="https://github.com/MartinZazpe"
                                target="_blank"
                                >Martín</a
                            >
                        </p>
                    </div>
                </div>
                <div class="sectionFooter3">
                    <h3>Información:</h3>
                    <div class="containerSection3">
                        <p><a href="#">Medios de Pago</a></p>
                        <p><a href="#">Preguntas Frecuentes</a></p>
                        <p><a href="#">Cómo comprar</a></p>
                        <p><a href="#">Políticas de privacidad</a></p>
                    </div>
                </div>
                <div class="sectionFooter4">
                    <h3>Ayuda:</h3>
                    <button>Cambios/Devoluciones</button>
                    <button>Me arrepentí</button>
                </div>
            </section>
            <div class="copyright">
                <hr />
                <h4>Copyright</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur perferendis repellendus soluta doloribus laborum
                    harum quidem, reprehenderit dolorum consectetur expedita?
                </p>
            </div>
        </footer>
    </body>
</html>
