<!-- Notes:  Cliquear el logo debera llevar al homepage -->
<!-- Notes:  cliquear cualquier enlace del footer debera llevar a su pagina correspondiente -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d3503ff7e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-lr.css" />
    <link rel="stylesheet" href="/css/theme-lr.css" />
    <link rel="stylesheet" href="/css/utils-lr.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel='stylesheet' href='/css/styles-sm-register.css' media='(min-width:480px)' />
    <link rel='stylesheet' href='/css/styles-md-register.css' media='(min-width:768px)' />
    <link rel='stylesheet' href='/css/styles-lg-register.css' media='(min-width:992px)' />
    <title>Registro de usuario</title>
</head>

<body class='noMargin flexWrap backgroundImg'>
    <header class='blueBackgroundBg styleHeader'>
<a class='flex justifyCenter' href='/'><img class='bordRad55 pad5 logo' src='/images/logo-light.png' alt='logo' /></a>
    </header>
    <main class='backgroundImg'>
        <div class='blueTransBg flexWrap justifyCenter containerForm'>
            <!-- begins form -->
            <div class='headerRegisterForm'>
                <!-- form header -->
                <h1 class='textRegisterRegister fontSize5vw whiteText'> Regístrate ahora</h1>
                <div class='break'></div>
                <img class='googleLogo' src='/images/googlelogo.png' alt='google logo' />
                <img class='fbLogo' src='/images/fblogo.png' alt='facebook logo' />
            </div>
            <form class=' form centerText padTop10 flexWrap flexColumn centerText'>
                <!-- begins form inputs -->
                <fieldset>
                    <div class='paddingBot8'>
                        <label for='name'> Indícanos tu nombre</label>
                        <br>
                        <input type='text' id='name' name='name' required>
                    </div>
                    <div class=' paddingBot8'>
                        <label for='username'>Elige un nombre de usuario </label>
                        <br>
                        <input type='text' id='username' name='username' required>
                    </div>
                    <div class=' paddingBot8'>
                        <label for='password'> Elige una contraseña</label>
                        <br>
                        <input type='password' id='password' name='password' required>
                    </div>
                    <div class='paddingBot8 marginBot10'>
                        <label for='email'>E-mail</label>
                        <br>
                        <input class='whiteBg' type='email' id='email' name='email' required>
                    </div>
                    <div class='w100 paddingBot2'>
                        <label class for='terminos'>Acepto los <a class='a-links' href='/terminos'>términos y
                                condiciones</a></label>
                    </div>
                    <div class='w100 paddingBot8'>
                        <br>
                        <input class='styleCheckbox' type='checkbox' id='terminos' name='terminos' required>
                    </div>
                    <div class='paddingBot12'>
                        <button class='buttonRegister' type='button'>Registrarme</button>
                    </div>
                </fieldset>
                <div class='paddingBot8 centerText whiteText paddingTop4'><label class='loginLink'>¿Ya tienes un usuario con
                        nosotros?<a class='aLinks' href='/login'> Ingresa aquí</a></label></div>
            </form>
        </div>
    </main>


    <footer class='blueBackgroundBg  styleFooter'>
        <div class='whiteText linkFooter'>
          <a> <p>Atención <br>al cliente</p>
        </div></a>
        <div class='whiteText linkFooter'>
          <a> <p>Servicios</p> </a> 
        </div>
        <div class='whiteText linkFooter'>
          <a> <p>Shop</p> </a> 
        </div>
        <div class='whiteText linkFooter'>
           <a> <p>Redes <br>sociales</p> </a> 
        </div>
    </footer>
</body>

</html>