<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/theme-lr.css" />
    <link rel="stylesheet" href="/css/utils-lr.css" />
    <link rel="stylesheet" href="/css/styles-lr.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <title>Terminos y condiciónes</title>
</head>

<body>
    <header class='blue-background-bg style-header'>
        <a class='flex justify-center' href='/'><img class='bord-rad-55 pad-5 logo' src='/images/logo-light.png' alt='logo' /></a>
    </header>
    <main class='lightblue-background-bg flex align-center'>
        <h1 class='text-terminos'>Terminos y condiciónes</h1>
        <div class='scroll'>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita at sequi aliquam deleniti ipsum. Quibusdam, atque cum, 
                necessitatibus sunt magnam soluta rerum harum provident cupiditate 
                vitae quis quo dolores sequi?
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque 
                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore 
                et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
                quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi 
                ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
                qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum 
                qui dolorem eum fugiat quo voluptas nulla pariatur?
             
                Cras eget augue enim. Duis pretium scelerisque enim, faucibus facilisis velit.
                 Vestibulum eget enim sed enim tempus malesuada. Praesent eget gravida magna, 
                 eget euismod lorem. Donec convallis, ex id mollis vulputate, quam diam tempor
                  ex, et pulvinar turpis nisl vitae quam. Donec tincidunt consectetur erat eget 
                  egestas. Duis aliquet sollicitudin vulputate. Suspendisse sem leo, ornare vitae
                  arcu ac, tempor tempus odio. Class aptent taciti sociosqu ad litora torquent 
                  per conubia nostra, per inceptos himenaeos.

                  Lorem ipsum dolor sit amet, 
                  consectetur adipiscing elit. Nullam efficitur risus in tellus aliquam, et 
                  lacinia risus consequat. Cras luctus erat magna, at molestie sapien lacinia vitae. 
                  Aliquam erat volutpat. Nulla at tortor a nibh rhoncus aliquet vitae in nunc. Class 
                  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                  Maecenas condimentum vulputate tortor, nec dignissim urna bibendum non. Suspendisse
                   porttitor ut massa venenatis euismod. Vestibulum sed massa id nulla tempor interdum.
                </p>
                <p>
                    Nunc et venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et
                     ultrices posuere cubilia curae; Aenean in nunc fringilla, convallis mauris malesuada,
                      tempus magna. Curabitur dictum erat mi, at ullamcorper nunc aliquam nec. 
                      Quisque a velit odio. Praesent vitae fringilla libero. Aliquam nisi odio, 
                      accumsan sed neque et, condimentum varius ex. Ut consectetur nibh quis sapien 
                      tristique hendrerit.
                
                      Ut libero quam, faucibus non urna at, vulputate pharetra sapien. Sed ligula libero,
                       lobortis lacinia purus vitae, mattis gravida erat. Aliquam non posuere massa, 
                       nec accumsan lacus. Nunc vestibulum elit arcu, id euismod tellus aliquam non. 
                       Fusce pharetra mattis enim at iaculis. Mauris rhoncus, erat bibendum tristique
                        pretium, lectus metus consectetur massa, id tristique sapien lectus at lacus. 
                        In tristique sem nisl, nec volutpat sapien blandit vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita at sequi aliquam deleniti ipsum. Quibusdam, atque cum, 
                necessitatibus sunt magnam soluta rerum harum provident cupiditate 
                vitae quis quo dolores sequi?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita at sequi aliquam deleniti ipsum. Quibusdam, atque cum, 
                necessitatibus sunt magnam soluta rerum harum provident cupiditate 
                vitae quis quo dolores sequi?
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita at sequi aliquam deleniti ipsum. Quibusdam, atque cum, 
                necessitatibus sunt magnam soluta rerum harum provident cupiditate 
                vitae quis quo dolores sequi?
            </p>
            <p>
                Cras sed ornare magna, vitae accumsan urna. Ut ac mauris eu lorem eleifend 
                scelerisque ac nec velit. Integer placerat justo et erat viverra, sit amet 
                dictum odio congue. Pellentesque sodales diam lorem, in condimentum enim 
                ullamcorper nec. Maecenas id venenatis neque. Aliquam mauris dui, posuere 
                eget arcu non, commodo condimentum orci. Cras quam metus, sollicitudin non 
                tempor quis, tristique sit amet lectus. Duis sodales in leo nec mattis. 
                Sed erat justo, tincidunt vitae nisl eget, tristique ornare leo. In efficitur 
                tellus enim, laoreet ultricies nulla ullamcorper id. In nisi erat, porttitor 
                eu dapibus vitae, mollis at lectus. Vivamus hendrerit nunc diam, in imperdiet 
                nisl ultrices eu. Nullam viverra eros id laoreet porta. Pellentesque luctus elit odio,
                 sed condimentum enim pharetra ac. Phasellus a enim vel metus tempus ullamcorper 
                 ut vitae orci. Curabitur convallis at metus eu hendrerit.
             
                 Aliquam erat volutpat. Donec dapibus elit at tempor sagittis. 
                 Pellentesque maximus nec urna id porttitor. Vivamus sed leo lobortis
                  ante posuere sollicitudin eu sit amet nunc. Pellentesque in lectus finibus, 
                  eleifend tortor vitae, egestas quam. Suspendisse ligula nisi, consectetur 
                  malesuada augue at, hendrerit pellentesque orci. Cras quis neque et odio 
                  scelerisque dignissim. Aliquam et neque metus. Curabitur tellus dui, 
                  pretium eu purus a, tincidunt auctor mauris. Curabitur pulvinar eros ac 
                  felis aliquam varius. In rutrum congue diam eu imperdiet. Nunc convallis
                   ultrices elementum.
              
                   Nullam aliquam ante sodales, congue sem nec, luctus neque. Integer vel 
                   ligula et risus tempor faucibus id condimentum purus. Nulla lorem elit, 
                   faucibus eu feugiat sed, volutpat nec eros. Phasellus interdum urna purus. 
                   Duis tincidunt nulla mi, a laoreet velit placerat nec. Aenean lorem mi, iaculis
                    et pretium in, pellentesque at ante. Sed scelerisque et sem condimentum tincidunt. 
                    Suspendisse potenti. Fusce at orci consequat, semper est id, interdum dui. Nulla euismod
                     imperdiet blandit. Sed mauris urna, posuere id sem at, placerat eleifend magna. 
                     Maecenas consequat id lectus non egestas. Morbi vel sagittis erat, at pharetra libero.
                      Donec odio lectus, imperdiet vel pulvinar finibus, ullamcorper sit amet mi. Proin 
                      porttitor ac eros in fringilla. Ut mi quam, interdum vel lorem vel, finibus accumsan lacus.
                </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque porta tortor, 
                eu tempus mauris convallis eget. Fusce ullamcorper, ex non sodales maximus, tortor 
                urna fringilla odio, vulputate maximus tortor quam eu purus. Morbi fermentum mauris 
                semper imperdiet malesuada. Ut convallis magna diam, bibendum faucibus nunc cursus id. 
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In nulla risus, eleifend eu 
                fermentum at, rutrum sed enim. Duis in tincidunt erat, vitae tempus libero. Donec tristique 
                nulla ut ante pulvinar, ultricies sollicitudin tortor pellentesque. Etiam consectetur 
                venenatis vulputate. Nam vel tortor diam. In massa tortor, efficitur sed dignissim ut, 
                dapibus ac leo. Proin ultrices velit in nibh egestas, vitae placerat sapien aliquet.
            </p>
            <p>
                Fusce nisl tellus, mollis tristique lectus eget, porta pretium nunc. Cras sit amet massa
                 id sapien vehicula scelerisque. Nullam tortor arcu, fermentum a lacinia cursus,
                  placerat sagittis elit. Sed cursus nulla convallis diam hendrerit sodales. In et 
                  sollicitudin velit. Morbi vel viverra dolor. Integer pretium porta velit aliquam dignissim. 
                  Quisque efficitur ac magna nec elementum. Proin blandit, felis in tincidunt vehicula, 
                  tellus nunc facilisis mi, vitae laoreet augue turpis at ipsum. Pellentesque accumsan
                   congue metus, a mollis metus ullamcorper nec. Integer vitae dapibus urna. Suspendisse 
                   semper vulputate dolor, sagittis commodo dui consectetur eget. Praesent a metus et felis
                    aliquam ullamcorper. Donec libero turpis, molestie interdum neque quis, placerat fermentum turpis.
                
                    Fusce in tellus quam. Nulla euismod odio et magna ornare fringilla.
                     Praesent facilisis tincidunt ex consectetur placerat. Sed eget odio quis 
                     odio posuere rhoncus ac at ante. Nulla sodales arcu vitae dapibus bibendum. 
                     Duis placerat est ac sapien ultrices lobortis. Aenean ultricies eget libero 
                     at rutrum. Mauris facilisis sem nec sem rutrum, id sodales est pulvinar.
            </p>
            <p>
                Nam tortor lacus, ornare quis imperdiet vel, 
                lobortis scelerisque purus. Nunc eget nisi ac neque feugiat rutrum. 
                Morbi lobortis ligula at leo mollis commodo. Donec in tempor ipsum.
                 Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Vivamus accumsan nisi eu malesuada consequat. Integer 
                  at est eu magna fringilla varius. Curabitur sollicitudin magna mauris, 
                  sed convallis risus vehicula et. Donec nec dapibus ex. Donec sit amet 
                  imperdiet nisi, vitae ultrices orci. Aenean eget tempor libero. Suspendisse 
                  ultricies nisl vitae lorem bibendum iaculis.
            </p>
            <p>
                Pellentesque et euismod quam. Nunc egestas enim vel dolor finibus,
                 mollis malesuada ligula molestie. In a gravida odio. Sed volutpat 
                 ante sit amet sapien imperdiet, eu aliquet erat cursus. Mauris nulla
                  risus, tincidunt sed porta vel, consectetur non ante. Vivamus consequat
                  arcu id purus fermentum finibus. Sed non augue ut nulla pulvinar rutrum
                   quis a ligula. Quisque mollis erat condimentum tortor pharetra gravida. 
                   Duis blandit magna vitae velit ultricies pulvinar.
             
                   Nulla id fermentum neque. Nulla orci nisl, vestibulum eget magna ut, 
                   posuere pulvinar libero. Donec fermentum ut dui nec rhoncus. 
                   Donec rhoncus augue ac felis consequat tempor. Vestibulum at eros velit. 
                   Duis bibendum placerat lectus. Curabitur et sem ut purus tempor lobortis et 
                   eget eros.

                   Morbi sollicitudin leo dictum ornare ultricies. 
                   Suspendisse mauris purus, tincidunt fermentum leo vitae, 
                   facilisis auctor orci. Curabitur sit amet tellus non sem gravida fermentum. 
                   Ut eu elit a augue ornare euismod. Sed luctus, felis in semper efficitur, 
                   orci est tempor ipsum, non tempus tellus elit vel erat. Fusce faucibus, libero ac 
                   venenatis rutrum, justo erat blandit felis, et varius erat dui vehicula felis. 
                   Aliquam varius metus non maximus varius. Vestibulum ligula ante, aliquam at 
                   volutpat quis, dignissim id diam. Mauris tempus, mauris at vehicula vehicula, 
                   augue mi suscipit velit, in sodales metus dui ac ex. Pellentesque non elit ac 
                   quam dictum sollicitudin. Nunc ex nulla, posuere vel libero eget, elementum feugiat 
                   libero. Aenean maximus odio a libero faucibus, et efficitur erat dapibus.
                </p>
            <p>
              Nulla id fermentum neque. Nulla orci nisl,
               vestibulum eget magna ut, posuere pulvinar libero. Donec 
               fermentum ut dui nec rhoncus. Donec rhoncus augue ac felis consequat tempor.
                Vestibulum at eros velit. Duis bibendum placerat lectus. Curabitur et 
                sem ut purus tempor lobortis et eget eros.
                Pellentesque eleifend hendrerit dui quis fermentum. 
                Quisque turpis magna, laoreet sed varius at, elementum vitae tortor. 
                Duis interdum luctus elit sit amet ornare. Vestibulum elementum libero
                 in sapien blandit, non varius massa ultrices. Integer in viverra ex. 
                 Pellentesque diam est, ornare sit amet porta at, dapibus eget ipsum. 
                 Suspendisse efficitur consequat urna, et maximus lacus congue vel. Morbi
                  ornare sodales ligula nec convallis.
            </p>
            <p>
                Mauris sed arcu laoreet, posuere dolor a, vehicula erat.
                 Nam porttitor tincidunt est, et finibus justo fermentum eu. Praesent
                  fermentum, arcu vel rhoncus euismod, metus est rutrum neque, et blandit 
                  sem nisi a orci. Vestibulum ac imperdiet turpis, et maximus enim. Duis in 
                  sapien orci. Praesent dapibus lacinia mollis. Etiam sit amet justo et mauris 
                  porta viverra. In non mauris vel metus venenatis dapibus. Interdum et malesuada 
                  fames ac ante ipsum primis in faucibus. Vestibulum purus magna, auctor at 
                  orci non, iaculis tristique nisi. Phasellus accumsan lacus id ligula lacinia, 
                  vitae tincidunt diam tristique.
            </p>
            <form class='lorem-form' action='/register' method="GET">
                <button type='submit'>Lorem!</button>
            </form>
        </div>


      <!-- <h1 class='under-construction-style center-text '>Esta sección esta bajo mantenimiento, gracias por su
            paciencia.</h1> -->
    </main>

    <footer class='blue-background-bg style-footer'>
        <div class='white-text link-footer'>
            <p>Atención <br>al cliente</p>
        </div>
        <div class='white-text link-footer'>
            <p>Servicios</p>
        </div>
        <div class='white-text link-footer'>
            <p>Shop</p>
        </div>
        <div class='white-text link-footer'>
            <p>Redes <br>sociales</p>
        </div>
    </footer>
</body>

</html>