*{
    box-sizing: border-box;
} 


.backgroundImg2{
    background-image: url('/img/portadas/lineasAzules.png');
    background-size:15px;
    background-color:rgba(255,255,255,0.85);
    background-blend-mode: lighten;
}


 
 main h2 {
    text-align: center;
}


.container{
    border: solid blue 2px;
    box-shadow:4px 4px 3px 4px cornflowerblue;
    border-radius: 5px;
}


.errores{
display:flex;
flex-flow:column wrap;
 color: red;
 text-align: center;
 padding:5px;
}


.errorField{
border:solid red 2px !important;
}


form, input, select, textarea{
    width:100%;
    text-align:center;
}


ul li{
    list-style-type:none;
}

.container .img{
    background-color:rgb(233, 220, 220);
    flex-flow: wrap column;
    text-align: center;
    color:black;
    border-radius: 5px;
}


#CreateProductButton{
    width:150px;
    color:white;
    background-color:rgb(74, 74, 231);
    border-radius:5px;
    box-shadow:2px 3px cadetblue;
    margin-bottom: 5px;
}


.modifyImg{
    flex-flow: wrap column;
    text-align: center;
    color:white;
    width:100%;
    border-bottom: solid blue 2px;
}


.modifyImg{
 background-color:rgba(23, 105, 199, 0.2)
    /* border: 2px solid rgb(16, 78, 160); */
}


.img{
width:100%;
}

.container .inputStyle{ 
    padding-bottom: 30px;  
}


.colorSize{
    display: flex;   
}

.colorSize div{
    flex:1;
}


.colorSizeChild1{
    padding-right:20px;
}

.colorSizeChild2{
    padding-left:20px;
}







.inputButtons{
background-color:rgb(116, 116, 206);
}

