* {
    box-sizing: border-box;
}

.backgroundImg2 {
    background-image: url("/img/portadas/lineasAzules.png");
    background-size: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
}

main h2 {
    text-align: center;
}

.container {
    border: solid blue 2px;
}

form,
input,
select,
textarea {
    width: 100%;
    text-align: center;
}

.container .img {
    background-color: rgb(116, 116, 206);
    flex-flow: wrap column;
    text-align: center;
    color: white;
}

.modifyImg {
    flex-flow: wrap column;
    text-align: center;
    color: white;
    width: 100%;
    border-bottom: 1px solid rgba(23, 105, 199, 0.6);
}

.modifyImg #imageMod {
    border: 4px solid rgb(16, 78, 160);
}

.img {
    width: 100%;
}

.container .inputStyle {
    padding-bottom: 30px;
}

.colorSize {
    display: flex;
}

.colorSize div {
    flex: 1;
}

.colorSizeChild1 {
    padding-right: 20px;
}

.colorSizeChild2 {
    padding-left: 20px;
}

.inputButtons {
    background-color: rgb(116, 116, 206);
}

.errorMessage {
    padding-top: 8px;
    color: red;
}
