.titleItem {
    text-align: center;
    vertical-align: 15vw;
}

main {
    display: flex;
    flex-direction: row;
}

.titleItem {
    margin-top: 0px;
    text-align: center;
    animation: hideText 0s ease-in 3s;
    animation-fill-mode: forwards;
}

.infoItem {
    align-self: flex-end;
}

.HistorialCompras {
    margin-top: 50px;
}

.containerProfileContainer {
    display: flex;
    justify-content: center;
}

@keyframes hideText {
    to {
        visibility: hidden;
        max-height: 0px;
        width: 0%;
        height: 0%;
    }
}
