.errorMessage {
    padding-top: 8px;
    color: red;
}
.errorContainerRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-error-validation{
    background-color: rgb(172, 172, 172);
    border-radius: 8px;
    margin: 4px;
    font-size: 16px;
}
#password{
    margin-bottom: 20px;
}
.strongPassword-content{
    max-width: 60%;
    margin: auto;
}