/* 
    Colores:
    Azul: rgb(27, 147, 245)
    Verde: rgb(27, 192, 27)
    Azul oscuro: #281D31
    Celeste claro: #0cbfe9
    Verde claro: #32cd32
    Naranja claro: #ffc518
    Tipografías:
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Configuración formulario */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
/* Header */
header {
    background-color: #06274b;
}
.logoContainer {
    display: flex;
    justify-content: center;
}
.logoContainer a {
    transition: transform 650ms;
    text-align: center;
}
.logoContainer a img {
    width: 50%;
}
.logoContainer a:hover {
    transform: scale(1.1);
}
/* Implementación NavBar Fede */
.nav {
    height: 40px;
    background-color: lightgray;
    text-align: center;
}

.nav ul li {
    display: inline;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.nav ul li a {
    text-decoration: none;
    line-height: 40px;
    color: black;
    font-size: 13px;
    font-weight: 700;
}

.nav ul li:hover {
    background-color: darkcyan;
    color: white;
}

.nav ul li:hover a {
    color: #fff;
}
/* Fin implementación Navbar Fede */
.navBar {
    display: none;
}

ul li a {
    color: #fff;
    font-size: 18px;
    transition: color 450ms;
}
ul li a:hover {
    color: #e4e4e4;
}
.iconBurger {
    text-align: center;
    margin: 20px 0 60px 0;
}
.iconBurger i {
    background-color: rgb(27, 147, 245);
    padding: 16px;
    border-radius: 8px;
}
/* Section Products */
.title {
    padding: 40px 0 20px;
    text-align: center;
}
.product {
    max-width: 80%;
    width: 80%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.imageProduct {
    width: 90%;
    padding: 16px;
    margin: auto;
    display: block;
    transition: transform 450ms;
    cursor: pointer;
}
.imageProduct:hover {
    transform: scale(1.1);
}
.detailContainer {
    border-top: solid 1px rgb(26, 26, 26);
    padding: 20px 16px;
}
.titleProduct {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 8px;
}
.sku_product {
    padding: 16px 0 8px 0;
    font-weight: bold;
}
.priceProduct {
    font-size: 22px;
    color: rgb(27, 192, 27);
}
.btnContainer {
    display: flex;
    justify-content: space-around;
    padding: 24px 0 16px 0;
}
.btnContainer button {
    padding: 8px;
    border: none;
    background-color: #1bc01b;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 450ms;
    cursor: pointer;
}
.btnContainer button:hover {
    background-color: #32cd32;
}
/* Section Categories */
.containCategoriesGlobal {
    width: 100%;
}
.subTitle {
    max-width: 80%;
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
}
.containCategories img {
    width: 80%;
    margin: auto;
    display: block;
    padding-bottom: 20px;
    transition: opacity 450ms;
}
.containCategories img:hover {
    opacity: 0.7;
}
/* Footer */
footer {
    background-color: #06274b;
    color: #f1f1f1;
}
.logoContainerFooter {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.logoContainerFooter a {
    text-align: center;
}
.logoFooter {
    width: 50%;
    cursor: pointer;
    transition: transform 650ms;
}
.logoFooter:hover {
    transform: scale(1.1);
}
.footerContainer {
    width: 90%;
    margin: auto;
}

.sectionFooter1 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.sectionFooter1 p {
    text-align: center;
}
.iconsSocialMediaFooter {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 8px 0;
}
.facebookIcon {
    transition: color 450ms;
}
.iconsSocialMediaFooter .facebookIcon:hover {
    color: #3b5998;
    cursor: pointer;
}
.gmailIcon {
    transition: color 450ms;
}
.iconsSocialMediaFooter .gmailIcon:hover {
    color: #d44638;
    cursor: pointer;
}
.linkedInIcon {
    transition: color 450ms;
}
.iconsSocialMediaFooter .linkedInIcon:hover {
    color: #0077b5;
    cursor: pointer;
}
.sectionFooter2 {
    padding: 20px 0;
}
.sectionFooter2 h3 {
    text-align: center;
    padding-bottom: 16px;
}
.quienesSomosTexto {
    font-size: 17px;
    max-width: 80%;
    margin: auto;
    padding-bottom: 8px;
}
.quienesSomosTexto a {
    color: #e51b3e; /* Color hex DigitalHouse */
    text-decoration: none;
    transition: color 450ms;
}
.quienesSomosTexto a:hover {
    color: #bd122f;
}
/* .quienesSomosTexto a span{
    color: #212121;  Color hex DigitalHouse 
} */
.nombreIntegrantesContainer {
    display: flex;
    justify-content: center;
}
.nombreIntegranteFooter {
    margin: auto;
}
.nombreIntegranteFooter a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 17px;
    transition: color 450ms;
}
.nombreIntegranteFooter a:hover {
    color: #0cbfe9;
}
.sectionFooter3 h3 {
    text-align: center;
    padding-bottom: 8px;
}
.containerSection3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerSection3 a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    line-height: 26px;
    transition: color 450ms;
}
.containerSection3 a:hover {
    color: rgb(152, 234, 255);
}
.sectionFooter4 {
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionFooter4 h3 {
    padding-bottom: 8px;
}
.sectionFooter4 button {
    border: none;
    background-color: #0cbfe9;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: background-color 350ms;
}
.sectionFooter4 button:hover {
    background-color: #0a87a3;
    cursor: pointer;
}
.copyright {
    width: 90%;
    margin: auto;
}
.copyright h4 {
    font-size: 16px;
    padding: 8px 0;
}
.copyright p {
    padding: 8px 0 20px;
}
