/* 
    Colores:
    Azul: rgb(27, 147, 245)
    Verde: rgb(27, 192, 27)

    Tipografías:
    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.navBar{
    display: none;
}
.iconBurger{
    text-align: center;
    margin: 20px 0 60px 0;
}
.iconBurger i{
    background-color: rgb(27, 147, 245);
    padding: 16px;
    border-radius: 8px;
}
/* Section Products */
.title{
    text-align: center;
}
.product{
    max-width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.imageProduct{
    width: 90%;
    padding: 16px;
    margin: auto;
    display: block;
}
.detailContainer{
    border-top: solid 1px rgb(26, 26, 26);
    padding: 20px 16px;
}
.titleProduct{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 8px;
}
.sku_product{
    padding: 16px 0 8px 0;
    font-weight: bold;
}
.priceProduct{
    font-size: 18px;
    color: rgb(27, 192, 27);
}
.btnContainer{
    display: flex;
    justify-content: space-around;
    padding: 24px 0 16px 0;
}
.btnContainer button{
    padding: 8px;
    border: none;
    background-color: rgb(27, 192, 27);
    font-size: 16px;
    border-radius: 3px;
}
/* Section Categories */
.containCategoriesGlobal{
    width: 100%;
}
.subTitle{
    max-width: 80%;
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
}
.containCategories img{
    width: 80%;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}
/* Footer */
footer{
    background-color: #969696;
}
.footerContainer{
    width: 90%;
    margin: auto;
}

.sectionFooter1{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.sectionFooter1 p{
    text-align: center;
}
.iconsSocialMediaFooter{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 8px 0;
}
.sectionFooter2{
    padding: 20px 0;
}
.sectionFooter2 h3{
    text-align: center;
    padding-bottom: 16px;
}
.quienesSomosTexto{
    font-size: 17px;
    max-width: 80%;
    margin: auto;
    padding-bottom: 8px;
}
.nombreIntegrantesContainer{
    display: flex;
    justify-content: center;
}
.nombreIntegranteFooter{
    margin: auto;
}
.nombreIntegranteFooter a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 17px;
}
.sectionFooter3 h3{
    text-align: center;
    padding-bottom: 8px;
}
.containerSection3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerSection3 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    line-height: 26px;
}
.sectionFooter4{
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionFooter4 h3{
    padding-bottom: 8px;
}
.sectionFooter4 button{
    border: none;
    background-color: rgb(27, 147, 245);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.copyright{
    width: 90%;
    margin: auto;
}
.copyright h4{
    font-size: 16px;
    padding: 8px 0;
}
.copyright p{
    padding: 8px 0;
}