@media screen and (min-width: 1200px){
    /* Header */
    .logoContainer img{
        width: 20%;
    }
    .navBar{
        max-width: 1300px;
        margin: auto;
    }
    /* Productos */
    .productContainer{
        max-width: 85%;
        margin: auto;
        justify-content: space-evenly;
    }
    .product{
        width: 25%;
        margin: 20px 40px;
    }
    .detailContainer{
        flex-direction: column;
        display: flex;
    }
    /* Categorias */
    .containCategoriesGlobal{
        max-width: 70%;
        margin: auto;
    }
    .containCategories{
        justify-content: center;
    }
    .containCategories img{
        width: 25vw;
        padding-right: 8px;
    }
    /* Footer */
    .footerContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logoFooter{
        width: 50%;
    }
    .sectionFooter2{
        max-width: 38%;
    }
    .sectionFooter4 button{
        font-size: 12px;
    }
}