@media screen and (min-width: 768px){
    /* Header */
    .logoContainer{
        padding-bottom: 40px;
    }
    .navBar{
        display: flex;
        justify-content: space-around;
        padding-bottom: 32px;
    }
     .linksCategories{
        display: flex;
        list-style: none;
    } 
    .linksUser{
        display: flex;
        list-style: none;
    }
    .linksCategories li a{
        text-decoration: none;
        padding: 0 8px;
    }
    .linksUser li a{
        text-decoration: none;
        padding: 0 8px;
    }
    .iconBurger{
        display: none;
    }
    /* Productos */
    .productContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .product{
        max-width: 35%;
    }
    .detailContainer{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    /* Imagenes secciones */
    .containCategories{
        display: flex;
        flex-wrap: wrap;
    }
    .containCategories img{
        width: 35%;
        margin-bottom: 40px;
    }

    /* Footer */
    /* .containerSection3{
        padding-top: 16px;
        flex-direction: row;
        justify-content: space-evenly;
    } */
}