
/* have to fix this */

.form{
    color:white;
    padding-top:10px;
    display:flex;
    flex-wrap: wrap;
}



.fbLogo{
position:relative;
margin:auto;
}

.googleLogo{
position:relative;
margin:auto;
}

.fontSize5vw{
    font-size:3vw;
  }
  

.googleLogo:hover, .fbLogo:hover{
    transform:scale(1.1);
    background-color: rgba(128, 104, 104, 0.842);
}


.nombreLogin{
    width:100%;
}

.contraseñaLogin{
width:100%;

}

.recuerdameLogin{
    width:100%;
}

.botonIngresar{
    width:100%;
}

.olvideContraseñaText{
    width:100%;
    text-align: center;
    margin:none;
}

.googleFbLogin{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.googleLogo{
    margin-right:40px;
}

.sinUsuarioLogin{
 width:100%;
 text-align: center;
 margin:none;
}

