/* not working currently and therefore not linked to HTML

    .header-register-form{
        border-bottom: 1px solid rgb(224, 219, 219);
        display:initial;
        flex-wrap:none; 
        justify-content: center;
        position:relative;
    }
    .text-register{
text-align: center;
border-bottom: 1px solid white;
    }
    .logo{
        width:30%;
    }
    .fb-logo{
        display: block;
        top:20%;
        position:relative;
        left:20%;
        min-width:60%;
        padding-bottom: 5px;
    }
    .google-logo{
        display: block;
        top:20%;
        position:relative;
        left:20%;
        min-width:60%;
        padding-bottom: 20px;
    }