/* Fonts and texts */

body{
    font-family: Arial, Helvetica, sans-serif;
     /* originally 12px, testing vw for text */
}

.title{
    font-size:24px;   
}

.fontsize-150{
    font-size:150%;
}


/* colors */

 /*.blue-dark-bg{               Not using currently, old background, darker.
    background-color:#281D31;
} */

.blue-background-bg {
    background-color: #06274b;
}

.lightblue-background-bg {
    background-color: #0cbfe9;
}

.lightgreen-background-bg {
    background-color: #0bda51;
}

.white-bg{
    background-color: white;
}

.blue-trans-bg{
    background-color:rgba(82, 104, 177, 0.85);
}


.dark-trans-bg{
    background-color:rgba(0,0,0,0.25);
}

.pr.mid-text{
    color:#7530ad;
}


.white-text{
    color:white;
}


.bl-dark-text{
    color: #281D31;
}

