/* Fonts and texts */

body{
    font-family: Arial, Helvetica, sans-serif;
     /* originally 12px, testing vw for text */
}

.title{
    font-size:24px;   
}

.fontsize150{
    font-size:150%;
}


/* colors */

 /*.blue-dark-bg{               Not using currently, old background, darker.
    background-color:#281D31;
} */

.blueBackgroundBg {
    background-color: #06274b;
}

.lightblueBackgroundBg {
    background-color: #0cbfe9;
}

.lightgreenBackgroundBg {
    background-color: #0bda51;
}

.whiteBg{
    background-color: white;
}

.blueTransBg{
    background-color:rgba(82, 104, 177, 0.85);
}


.darkTransBg{
    background-color:rgba(0,0,0,0.25);
}

/*    ???
.pr.mid-text{
    color:#7530ad;
} */


.whiteText{
    color:white;
}


.blDarkText{
    color: #281D31;
}

