/* utilities go here */

* {
    box-sizing: border-box;
  }

  /* FLEX */

  .flex{
    display:flex;
    flex-wrap: wrap;
  }

  .flexColumn{
    flex-direction: column;
  }


.justifyAround{
  justify-content: space-around;
}

.justifyCenter{
  justify-content:center;
}

.alignCenter{
  align-items: center;
}

/* sizes */

.w25{
  width:25%;
}

.w30{
  width:30%;
}

.w40{
  width:40%;
}

  .w50{
    width:50%;
  }

  .w100{
    width:100%;
  }


.fontSize5vw{
  font-size:5vw;
}


  /* margins */

  .noMargin{
    margin:0px;
  }

  .margin5{
    margin: 5%;
    }

    .marginBot10{
      margin-bottom: 10px;
    }

    .autoMargin{
      margin:auto;
    }


    .paddingBot2{
      padding-bottom: 2px;
    }

    .paddingBot4{
      padding-bottom: 4px;
    }

    .paddingBot8{
      padding-bottom: 8%;
  }

  .paddingBot20{
    padding-bottom: 20%;
}



.paddingTop4{
  padding-top: 4%;
  }



  .pad10{
    padding:10px;
  }

  .pad5{
    padding:5px;
  }
  
  .padTop10{
  padding-top:10px;
  }

  
  /* text stylying */

  .centerText{
    text-align: center;
  }

  .bordRad10{
    border-radius: 10px;
  }

  .bordRad20{
    border-radius: 20px;
  }

  .bordRad55{
    border-radius: 55px;
    }


    input[type=text], input[type=password],
    input[type=email] {
      width:30vw;
    }


.blk{
  display:inline-block;
}


    .maxHeight100{
      max-height: 100%;
    }

    .inlineBlk{
      display:inline-block;
    }

    .formForm{
      display:block;
    width:auto;
    margin: 0 3px 0 3px;
  }