<footer>
    <section class="footerContainer">
        <div class="sectionFooter1">
            <div class="logoContainerFooter">
               <a href="/"><img class="logoFooter" src="../img/icons/logo_light.png" alt="Logo"></a>
            </div>
            <p>Puedes comunicarte mediante:</p>
            <div class="iconsSocialMediaFooter">
                <i class="fab fa-facebook-square facebookIcon"></i>
                <i class="far fa-envelope gmailIcon"></i>
                <i class="fab fa-linkedin linkedInIcon"></i>
            </div>
        </div>
        <div class="sectionFooter2">
            <h3>Sobre Nosotros:</h3>
            <p class="quienesSomosTexto">Somos un equipo de alumnos de <a href="https://www.digitalhouse.com/ar" target="_blank">Digital<span>House</span></a> que nos unimos y complementamos para llevar a cabo y darle vida a esta página web que armamos y realizamos con tanto esfuerzo. Dicho equipo está compuesto por:</p>
            <div class="nombreIntegrantesContainer">
                <p class="nombreIntegranteFooter"><a href="https://github.com/fedehonrado" target="_blank">Fede</a></p>
                <p class="nombreIntegranteFooter"><a href="#" target="_blank">Flor</a></p>
                <p class="nombreIntegranteFooter"><a href="https://github.com/Franco-Ezequiel-Marchegiani" target="_blank">Franco</a></p>
                <p class="nombreIntegranteFooter"><a href="https://github.com/MartinZazpe" target="_blank">Martín</a></p>
            </div>
            
        </div>
        <div class="sectionFooter3">
            <h3>Información:</h3>
            <div class="containerSection3">
                <p><a href="#">Medios de Pago</a></p>
                <p><a href="#">Preguntas Frecuentes</a></p>
                <p><a href="#">Cómo comprar</a></p>
                <p><a href="#">Políticas de privacidad</a></p>
            </div>
        </div>
        <div class="sectionFooter4">
            <h3>Ayuda:</h3>
            <button>Cambios/Devoluciones</button>
            <button>Me arrepentí</button>
        </div>
    </section>
    <div class="copyright">
        <hr>
        <h4>Copyright</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perferendis repellendus soluta doloribus laborum harum quidem, reprehenderit dolorum consectetur expedita?</p>
    </div>
</footer>