<header>
    <div class="logoContainer">
      <a href="/"><img src="../img/icons/logo_light.png" alt="Logo"></a>
    </div>
    <div>
        <nav class="navBar">
            <ul class="linksCategories">
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
                <li><a href="#">Categoría 4</a></li>
            </ul>
            <ul class="linksUser">
                <li><a href="login">Iniciar sesión</a></li>
                <li><a href="register">Registrarse</a></li>
                <li><a href="productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="iconBurger">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>