.boxContainer-allProducts {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.allProducts-price-discountContainer {
  display: flex;
  align-items: center;
}
.allProducts-priceProduct {
  font-size: 20px;
  color: #1bc01b;
  font-weight: bolder;
  text-align: center;
}
.allProducts-discountProduct {
  font-size: 20px;
  color: #dc143ce3;
  text-align: center;
}
