/*Utils*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Georama", sans-serif;
    font-size: 12px;
}

main {
    flex-grow: 1;
}

.textCenterPC {
    text-align: center;
}

.width100PC {
    width: 100%;
}

.padding8PC {
    padding: 8px;
}

.padding3-15PC {
    padding: 3px 15px;
}

.marginTop5PC {
    margin-top: 5px;
}
.marginTop15PC {
    margin-top: 15px;
}

.margin20PC {
    margin-bottom: 20px;
}

.flexPC {
    display: flex;
    flex-wrap: wrap;
}

.justifySpaceBetweenPC {
    justify-content: space-between;
}

/*Carrito*/

/* Paleta de colores */

.grayTextPC {
    color: #666;
}

.whiteTextPC {
    color: #fff;
}

.llightgreenTextPC {
    color: #0bda51;
}

.lightgreenBackgroundPC {
    background-color: #0bda51;
}

/* Tipografías y tamaños tipográficos */

.textTitlePC {
    font-size: 40px;
    font-weight: bold;
}

.textSecondTitlePC {
    font-size: 27px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid #0bda51;
}

.textProductPC {
    font-size: 20px;
    padding-bottom: 16px;
}

.textCharacteristicsPC {
    font-size: 16px;
    font-style: italic;
}

.textPricePC {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.textSubtotalPC {
    font-size: 18px;
}

.textShippingPC {
    font-size: 16px;
}

.textTotalPC {
    font-size: 26px;
    margin-top: 5px;
    border-top: 1px solid #666;
}

.containerProductPC {
    margin-bottom: 10px;
    border: 3px solid * #c4c4c4;
}

.containerWrapperPC {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: relative;
    padding: 0px;
}

.imageBorderPC {
    border-bottom: 1px solid #c4c4c4;
    border-right: none;
    position: relative;
}

.containerContentPC {
    padding: 10px;
    position: relative;
    right: 0px;
}

.cancelIconPC {
    font-size: 20px;
    display: block;
    border: none;
    border: 1px solid black;
    align-self: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.cancelIconPC:hover {
    background-color: #c4c4c4;
}
.buyButtonPC {
    font-size: 27px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #eac926;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
}
.buyButtonPC:hover {
    background-color: #c4a50e;
}

#mainContentPC {
    padding: 0 4%;
}

#codePC {
    color: #666;
    background-color: #ebebeb;
    font-size: 18px;
    font-style: italic;
    padding: 4px 0px;
    position: relative;
    left: 8px;
}
